$nav-link-padding: 15px 20px;


$side-nav-width: 260px;
$side-nav-item-margin-left: 15px;
$side-nav-item-margin-right: $side-nav-item-margin-left;
$side-nav-item-margin-top: 15px;
$side-nav-item-margin-bottom: $side-nav-item-margin-top;
