.main-panel {
  height: 100vh;
  overflow: auto;
  float:right;
  width: calc(100% - #{$side-nav-width});

  @media (min-width: 900px) {
    width: calc(100% - #{$side-nav-width});
  }

  @media (max-width: 900px) {
    width: 100%;
  }
}

.main-panel-wait {
  @extend .main-panel;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}