.side-nav {
  border: 1px solid red;
  width: $side-nav-width;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  * {
    transition: all 0.3s ease;
  }

  .nav li a{

    margin-left: $side-nav-item-margin-left;
    margin-right: $side-nav-item-margin-right;
    margin-top: $side-nav-item-margin-top;
    margin-bottom: $side-nav-item-margin-bottom;

    .active {
      box-shadow: $side-nav-item-box-shadow;
    }
  }
}